* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --fcolor-primary: white;
  --fcolor-secondary: #E1E1E6;
  --bcolor-primary: #24b7b2;
  --bcolor-secondary: #1db6bb44;
  --heading-color: #064847;
  --table-color-1: #030b0d;
  --table-color-2: #071b1f;
  --table-height: 50.4rem;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
  color: var(--fcolor-secondary);
  z-index: 1;
}

body * {
  font-size: 2rem;
  font-weight: 600;
}

.page {
  margin: 11.5rem 16rem auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

header .search {
  display: flex;
  gap: .8rem;
  width: 60%;
}

.search input,
.search button {
  padding-block: 1.2rem;
  border-radius: .5rem;
}

.search input {
  color: #7C7C8A;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6rem;

  background-color: #03191c;
  outline: none;
  border: none;
  width: 75%;
  padding-inline: 1.6rem;
}

.search button {
  background-color: #1d8f80;
  padding-inline: 3.2rem;

  color: var(--fcolor-primary);
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 2.4rem;

  cursor: pointer;
  display: flex;
  align-items: center;

  gap: .88rem;

  transition: all ease 0.15s;
}

.search button:hover,
.search button:hover>svg path {
  background-color: white;
  color: #317584;
  fill: #317584;
}

main {
  margin: 8.7rem 0;
  width: 100%;
  border-radius: 1.4rem;
}

table * {
  line-height: 2.8rem;
}

table {
  border-radius: 1.2rem;
  border-collapse: collapse !important;
  outline: 1px solid var(--bcolor-primary);
  border-spacing: 0;

  overflow: hidden;

  width: 100%;
  margin: auto;
  background-color: #06181C;
}

tbody {
  height: 100%;
  display: block;
  height: var(--table-height);
  overflow-y: scroll;
  width: 100%;
  position: relative;
}

.no-favorites {
  margin-top: calc((var(--table-height)/2) - calc(var(--table-height)/14));
  position: absolute;
  display: flex;
  gap: 6rem;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
}

.no-favorites h2 {
  font-size: 3.6rem;
  color: #4E5455;
}

tbody::-webkit-scrollbar-track {
  margin-block: 3px;

}

tbody::-webkit-scrollbar {
  width: 10px;
  background-color: #06181C;
}

::-webkit-scrollbar {
  width: 20px;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: #2ed0cb;
  border-radius: 9999px;
  border: 5px solid black;
}

tbody::-webkit-scrollbar-thumb {
  border: 2.5px solid #06181C;
}

tbody tr,
thead tr {
  display: grid;
  align-items: center;
  grid-template-columns: 45% 20% 20% 15%;
}

thead th {
  width: 100%;
}

/* tbody td:first-child,
table .heading th:first-child {
  padding-right: 394px;
} */

table .heading th {
  text-align: start;
  background-color: var(--heading-color);
  padding: 1.6rem 3rem;
}

table .heading th:first-child {
  border-radius: 1.2rem 0 0 0;
}

table .heading th:last-child {
  border-radius: 0 1.2rem 0 0;
}

tbody td {
  padding: 2.4rem 4rem;
}



table tbody tr:nth-child(odd) {
  border-bottom: 1px solid var(--bcolor-primary);
  background-color: var(--table-color-1);
}

table tbody tr:nth-child(even) {
  background-color: var(--table-color-2);
  border-bottom: 1px solid var(--bcolor-secondary);
}

table tbody tr:last-child {
  border-bottom: none;
}


.user td:first-child {
  display: flex;
  align-items: center;
  border-radius: 1.2rem;
}

.user span {
  font-weight: 400;
  color: #cfcfd5;
}


.user .tags {
  display: flex;
  flex-direction: column;
  padding-left: 1.6rem;
}

.user img {
  width: 5rem;
  border-radius: 50%;
}

.user a {
  text-decoration: none;
  color: inherit;
}

.user button {
  background: none;
  border: none;
  color: #ff3737;
  cursor: pointer;
  transition: all ease 0.1s;
}

.user button:hover {
  transform: scale(1.06)
}

.hide {
  display: none;
}